/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-color: black;
}

*{
  image-rendering: pixelated;
}

.sky{
  height: calc(1px * var(--sky-height));
  aspect-ratio: calc(var(--sky-width) / var(--sky-height));
  position: relative;
  --border: 1px solid pink;
}

.hidden{
  visibility: hidden;
}
